<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Generator propagandy</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
  <br><br><br>
  <div class="container" id="app">
    <p v-if="errors" v-for="error in errors" style="color:red">{{error}}</p>

    <label for="tryb"><span v-if="tryb==''">Wybierz tryb</span><span v-else>Tryb </span> propagandy:</label>
    <select class="" name="" v-model="tryb">
      <option value="PIS">POwska</option>
      <option value="PO">PiSowska</option>
      <option value="RU">Rosyjska</option>

    </select>

   
    <button type="button" name="button" @click="generate" class="btn btn-primary" v-if="tryb">generuj ⚙️</button>

    <div style="margin:10px">
      <b>   {{all}}</b>
    </div>
    <!-- <button type="button" name="button" @click="myjoin()">test</button> -->
    <div class="" style="height:30px"></div>
    <span>Opcje:</span> <input type="checkbox" name="" value="" v-model="showop"><br>
    <section id="options" v-if="showop">


      <label for="">Wywal:</label>
      <select class="" name="" v-model="choseel">
        <option v-bind:value="index" v-for="(elem,index) in kptab3">{{index}} {{elem}}</option>
      </select>
      <button type="button" name="button" @click="remove">ok</button>
    </section>

  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>

  <script src="script.js"></script>


</body>

</html>